<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Exchange Rates</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>

    <h1>Currency pairs</h1>

    <ul>
      <% @currency_codes.each do |cc| %>
      <li><a href=<%= cc %>>Convert 1 <%= cc %> to...</a></li>
      <% end %>
    </ul>
  </body>
</html>
